@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To Movie Sharing Web App</h3>
    <p></a> To navigate, please use the menu items above</p>
</div>
