@page
@model HW6MovieSharing.Pages.Movies.WarningPageModel
@{
    ViewData["Title"] = "You have already submitted your borrow request for this movie" +
                " \n Please wait for approval";
}

<h1 style="color:darkred;">Warning</h1>
<h2>
    You have already submitted borrow request for this movie <br />
        Please wait for owner's approval
</h2>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

